.heart {
    position: relative;
    transform: rotate(45deg) scale(0.75); 
    top:250px;
    left: 250px;
    width: 100px;
    height: 100px;
    animation: beat 0.5s infinite forwards alternate;
  }
  
  .mid {
      width: 250px;
      height: 250px;
      background-color: red;
  }
  
  .top {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      position: absolute;
      right: 50%;
      transform: translateX(60px);
      background-color: red;
  }
  .left {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      position: absolute;
      bottom: 50%;
      transform: translateY(60px);
      background-color: red;
  }
  
  @keyframes beat{
      100%{transform: rotate(45deg) scale(1);}
  }